.data-import {
  padding-left: 7.5rem;
  padding-bottom: 2rem;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.import-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ae883c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; /* Ajuste a largura conforme necessário */
}
.import-button:hover {
  background-color: #8c6a2e;
}
