/* tabela */
.data-table {
    width: 100%;
    border-collapse: separate; /* Mude para 'separate' para ativar o border-spacing */
    border-spacing: 0.313rem;
    margin-top: 20px;
}
.data-table th{
    text-align: left;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: inter;
    font-size: 1.25rem;
    color: black;
}
.data-table td {
    padding: 0.938rem 1rem;
    text-align: left;
    background-color: #EAE3D7;
    border-radius: 10px;
    font-family: inter;
    font-size: 1rem;
    
}

/*botão de upload */
.data-import input[type="file"] {
    padding: 0.938rem 1rem;
    text-align: left;
    background-color: #EAE3D7;
    border-radius: 10px;
    font-family: inter;
    font-size: 1rem;
}

/*botão de download CSV */
button.export-button{
    padding: 0.938rem 1rem;
    text-align: left;
    background-color: #EAE3D7;
    border-radius: 10px;
    font-family: inter;
    font-size: 1rem;
    margin-left: 1rem;
}

/* container principal */
.data-import {
    padding-left: 7.5rem;
    max-width: 800px;
    font-family: Arial, sans-serif;
}

.titulo-extrato{
    font-size: 2rem;
    padding-top: 2rem;
    color: #341F14;
    font-family: Noto Sans;
    font-weight: bold;
}