/* tabela */
.data-table {
    width: 100%;
    border-collapse: separate; /* Mude para 'separate' para ativar o border-spacing */
    border-spacing: 0.4rem;
    margin-top: 20px;
}
.data-table th{
    text-align: left;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: inter;
    font-size: 1.25rem;
}
.data-table td {
    padding: 1.5rem 1rem;
    text-align: left;
    background-color: #EAE3D7;
    border-radius: 10px;
}

/*botão de upload */
.data-import input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* container principal */
.data-import {
    padding-left: 7.5rem;
    max-width: 800px;
    font-family: Arial, sans-serif;
}

.titulo-extrato{
    font-size: 2rem;
    padding-top: 2rem;
    font-family: Noto Sans;
    font-weight: bold;
}