.navBar{
    background-color: #EAE3D7;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 60px;
}

.navRight{
    display: flex;
    justify-content: flex-start;
    height: 90px;
    width: auto;
    padding-left: 46px;
}

.navLeft{
    display: flex;
    justify-content: flex-end;
    gap: 64px;
    padding-right: 83px;
}

.navLink1, .navLink2{
    text-decoration: none;
    color: #3D160D;
}

.navLink1{
    padding-top: 8px;
}

.navLink2{
    background-color: #EBDEC9;
    width: 100px;
    height: 34px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    border-radius: 50px;
    border:1px solid #000000;
}

.sideText {
    display: inline-block; 
    justify-content: space-between; 
    flex-direction: column;
    width: 478px;
    margin-top: 55px;
    margin-left: 10px;
    text-align: left;
}

.tittle {
    font-size: 45px;
    margin-bottom: 37px; 
    margin-left: -50px;
}

.subTittle {
    font-size: 20px;
    margin-top: 0; 
    margin-bottom: 10px; 
    margin-left: 15px;
}

.lead {
    font-size: 18px;
    margin-left: 15px;
}

.links {
    margin-top: 20px; 
    display: flex;
    flex-direction: row;
    gap: 29px;
    margin-left: 15px;
}

.links-link{
    text-decoration: none;
    background-color: #EBDEC9;
    font-size: 16px;
    color: #7F5539;
    border: 1px solid #7F5539;
    width: 200px;
    height: 34px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    border-radius: 50px;
}


.sideLogin {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    float: right;
    width: 714px; 
    height: 394px; 
    border: 1px solid #7F5539; 
    border-radius: 20px; 
    margin-top: 122px; 
    margin-right: 46px;
    background-color: #EBDEC9; 
    padding: 43px; 
}

.sideLoginImage img {
    max-width: 250px; 
    height: auto; 
}

.sideLoginElements {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-top: 0;  
}

.sideLoginElements h2 {
    font-size: 24px;
}
