.content{

}

.content input{
    background-color: #eae3d7;
    border-radius: 5px;
}

.form{
    margin-outside: 10px;
    font-family: "Noto Sans";
}

.content p{
    font-family: "Noto Sans";
}

