.containerCards {
    display: flex;               
    justify-content: space-between; 
    gap: 20px;                               
    padding: 20px;               
  }
  
  .containerCard {
      width: 291px;
      height: 196px;
      background-color: #3D160D;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 30px;
      text-align: center;
    
    }
  
    
    
    .icon {
      font-size: 40px;
      margin-bottom: 10px;
    }
    
    .text {
      font-size: 16px;
    }
  
    .link{
      color: white;
    }
    