.data-table {
    width: 100%;
    border-collapse: separate; 
    margin-top: 20px;
  }
  .data-table th{
    text-align: left;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: inter;
    font-size: 1.25rem;
    color: black;
  }
  .data-table td {
    padding: 0.938rem 1rem;
    text-align: left;
    background-color: #EAE3D7;
    border-radius: 10px;
    font-family: inter;
    font-size: 1rem;
  
  }
  
  .data-table th.name-column, .data-table td.name-column {
    width: 300px; /* Ajuste a largura conforme necess치rio */
  }
  .data-table th.status-column, .data-table td.status-column {
    width: 10px; /* Ajuste a largura conforme necess치rio */
  }
  .data-table th.icone-column, .data-table td.icone-column {
    width: 5px; /* Ajuste a largura conforme necess치rio */
  }
  
  .data-import {
    padding-left: 7.5rem;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-button {
    cursor: pointer;
    font-size: 1.5rem;
    color: #AE883C;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .data-table td.icon-cell {
    text-align: center;
    vertical-align: middle;
  }
  
  .table-container {
    margin-bottom: 50px;
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
  }
  
  .central-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #AE883C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px; /* Ajuste a largura conforme necess치rio */
}

  .central-button:hover {
      background-color: #8C6A2E;
  }