.content{
    text-align: center;
    margin-top: 300px;
}

.content-form input{
    background-color: #eae3d7;
    width: 450px;  
    height: 50px; 
    font-size: 16px;
    border-top: #eae3d7;
    border-left: #eae3d7;
    border-right: #eae3d7;
}

.form{
    margin-outside: 10px;
    font-family: "Noto Sans";
    display: inline-block;
    margin: 50px;
    margin-top: 8px;
}

.content-form p{
    color: #341F14;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    font-family: "Noto Sans";

}

.botao {
    color: #F9F6F3;
    background-color: #AE883C;
    width: 750px;  
    height: 44px;
    border: 1px solid #eae3d7;
    margin-top: 50px;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Noto Sans";
}


